h2{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.card{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 110px;
    border-radius: 10px !important;
    background-color: rgb(132, 140, 158) !important;
    width: 350px;
    margin: auto !important;
}
input{
    width: 180px !important;
    height: 20px;
    border-radius: 15px;
    border-color: rgb(14, 11, 8) solid 1px;
}
p{
    font-family: fantasy;
    color: rgb(161, 214, 241);
}

#browsers{
    width: 180px !important;
    height: 30px;
    border-radius: 20px;
    padding-left: 3px;
}
.btn{
    background-color: black !important;
    color: aliceblue !important;
    border: olive;
    width: 130px;
    height: 30px;
    border-radius: 20px;
    margin-top: 7px;
}
.btn:hover{
    background-color:  aliceblue;
    color: rgb(197, 186, 186)!important;
}