

.card{
    border-radius: 10px !important;
    background-color: rgb(82, 107, 161) !important;
    width: 500px;
    margin: auto;
    margin-top: 3%;
}
p{
    padding-top: 10%;
    font-family: fantasy;
    color: rgb(161, 214, 241);
}
.btn{
    background-color: black !important;
    color: aliceblue !important;
}
.btn:hover{
    background-color:  aliceblue;
    color: rgb(197, 186, 186)!important;
}